techxplore [https://techxplore.com/news/2023-03-spying.html]
CACM [https://cacm.acm.org/news/272766-spyware-lurks-in-android-smartphones/fulltext]
CTV News [https://www.ctvnews.ca/sci-tech/stalkerware-scientists-study-14-spyware-apps-to-see-how-they-can-infiltrate-your-phone-1.6313965]
UC San Diego News [https://today.ucsd.edu/story/spywarestudy2023]
University of California News [https://www.universityofcalifornia.edu/news/what-happens-when-your-phone-spying-you]
Hacker News [https://news.ycombinator.com/item?id=35169914]
Scienmag.com [https://scienmag.com/this-is-what-happens-when-your-phone-is-spying-on-you/]
News8Plus [https://news8plus.com/this-is-what-happens-when-your-phone-is-spying-on-you/]
German Prevention Congress [https://www.praeventionstag.de/nano.cms/daily-prevention-news/details/7512]