--- 
layout: default 
---

    <div class="row">
        <div class="col-lg-8">
        
            <div class="card">
                <h1 class="card-title">About</h1>
                <p style="text-align: justify;"> 
                Hi, my name is Enze (pronounced like the italian name Enzo) Liu. I also go by the English name "Alex". I am a second-year PhD student in Computer Science at UC San Diego proudly advised by <a href="http://cseweb.ucsd.edu/~savage/">Stefan Savage</a> and <a href="http://cseweb.ucsd.edu/~voelker/">Geoff Voelker</a>. I am broadly interested in computer security and privacy. My current research focuses on securing critical components (e.g., email and smart phones) of our digital life through the lens of large-scale empirical analyses. Previously, I was fortunate to have done some research on passwords with <a href="https://people.cs.uchicago.edu/~davidcash/">David Cash</a> and <a href="https://www.blaseur.com/">Blase Ur</a> at the University of Chicago.
                </p>

                <p>
                    Outside the context of research, my most important identity is Christian (and my favorite verse is Job 42:5: "My ears had heard of you but now my eyes have seen you."). When not squashing bugs or hacking a server, I enjoy swimming, walking around the city (ideally, with friends), playing tennis/table tennis and <a class="noshow" href="/food/">hunting for great food</a>. My hometown is Wuhan, China. 
                </p>
                <!-- <p> {{ site.author_bio_cont }}</p> -->
            </div>

            {% if site.show_author_education_details == true %}
            <div class="card">
                <h1 class="card-title"> Education </h1>
                <br />
                {% for detail in site.author_education_details %}
                {% if detail.visibility == true %}
                <div class="row" style="margin-bottom:8px; margin-top:8px;">
                        <div class="col-md-2">
                            <img src="/assets/img/{{ detail.college_logo}}" class="company-logo" />
                        </div>
                        <div class="col-md-8">
                            <h4 class="experience-info">{{detail.college_name}}</h4>
                            <h6 class="experience-title"> {{detail.college_degree }}</h6>
                            <p class="experience-desc"> {{detail.description}} </p>
                            <p style="LINE-HEIGHT:0px;"><a href="{{detail.college_url}}">{{ detail.college_url}}</a></p>
                        </div>
                </div>
                {% endif %}
                
                {% endfor %}  
            </div>
            {% endif %}


            {% if site.show_author_projects_details == true %}
            <div class="card">
                <h1 class="card-title">Projects</h1>
                <br />
                {% for project in site.author_projects_details %}
                {% if project.visibility == true %}
                <div class="row">
                        <div class="col-md-2">
                            <img src="/assets/img/{{project.project_thumbnail}}" class="company-logo" />
                        </div>
                        <div class="col-md-10">
                            <h4 class="experience-title" align="stretch"> {{ project.project_title }}</h4>
                            <h6 class="experience-info"> {{ project.project_info}}</h6>
                            <p class="experience-desc"> {{ project.project_description }} </p>
                            <p><a href="{{project.project_url}}">{{ project.project_url}}</a></p> 
                        </div>
                </div>
                {% endif %}
                {% endfor %}  
            </div>
            {% endif %}

            <!--
            {% if site.show_author_work_experiences == true %}
            <div class="card">
                <h1 class="card-title"> Work Experience</h1>
                <br />
                {% for exp in site.author_work_experiences %}
                {% if exp.visibility == true %}
                <div class="row">
                        <div class="col-md-2">
                            <img src="/assets/img/{{ exp.company_logo }}" class="company-logo" />
                        </div>
                        <div class="col-md-6">
                            <h4 class="experience-title"> {{ exp.designation }}</h4>
                            <h6 class="experience-info"> {{ exp.company_name}}</h6>
                            <p class="experience-desc"> {{ exp.description }} </p>
                            <p><a href="{{exp.company_url}}">{{ exp.company_url}}</a></p> 
                        </div>
                    </div>
                    {% endif %}
                    
                    {% endfor %}  
            </div>
            {% endif %}
            -->

        </div>
        <div class="col-lg-4">
    
            <div class="card">
                {% if site.author_location %} 
                <h6>  <i class="fas fa-map-marker-alt"></i> {{ site.author_location }}</h6>
                {% endif %}
                
                {% if site.author_email %}
                <h6><i class="fas fa-envelope"></i> {{ site.author_email }}</h6>
                {% endif %}
                
                {% if site.author_website_url %}
                <h6> <i class="fas fa-link"></i> {{ site.author_website_url }} </h6>
                {% endif %}

                <h6> <i class="ai ai-google-scholar-square ai-1x"></i> 
                    <a href="https://scholar.google.com/citations?user=ACUFMCoAAAAJ" target="_blank">Google Scholar
                    </a> 
                </h6>
                
                {% if site.github_username %}
                  {%- include github_follow_button.html -%} 
                {% endif %}

                {% if site.twitter_username %}
                  {%- include twitter_follow_button.html -%} 
                {% endif %}

                
    
            </div>

            <div class="card">
                {%- include news.html -%}
            </div>

    
            <div class="card">
                <h1> Skills </h1>
                {%- include author_skills.html -%}
            </div>

            

            <!-- {% if site.wakatime_username %}
            <div class="card">
                <h1> Coding Activity </h1>
                
                {%- include coding_activity.html -%}
    
            </div>
            {% endif %} -->

    
        </div>
        </div>