---
layout: default
---
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- Style shamelessly copied from Blase's group website --> 
<style>
div.pubbody{
    text-align: left;
    font-size: 11pt;
    color: #000000;
    font-weight: normal;    
    margin-bottom: 29px;
    
}

.pubbody .venue_short {
  font-family: "Lato",sans-serif;
  color: #0080FF;
  font-weight: bold;
  font-size: 1.3rem;
}
.pubbody .papername {
  color: #0080FF;
  font-size: 1.5rem;
  font-weight: bold;
}
.pubbody .authorlist {
  color: #3C3C3C;
  font-size: 1.25rem;
}
.pubbody .venuename {
  color: #999999;
  font-size: 1.2rem;  
}
.pubbody .paperlink_span {
  font-size: 1.2rem;
}
.pubbody .paperlink_forthcoming {
  font-size: 1.2rem;
  color: #000000;
}
.pubbody .paperlink {
  color: #BF9B30;
}
.card .noshow{
  color: #000000;
}
.pubbody .award {
  font-family: "Lato",sans-serif;
  color: #149414;
  font-weight: bold;
  font-size: 1.2rem;
  padding-left: 10px;
}
.pubbody .news{
  font-size: 1.0rem;
}

.pubbody .media_button{
    color: black;
    font-style: italic;
    /*
    background-color: rgb(7, 55, 99);
    border-radius: 2rem;
    padding: 0px 2px 0px 5px;
    */
}

.pubbody .media_content{
    margin-left: 5px;
}

.pubbody p {
    display:list-item;
    list-style:disc inside;
    padding:0 0 0 14px;
    margin:0;
}
</style>

<div class="card">
    <h1 class="card-title"><a class="noshow" href="/reviews/">Research</a></h1>
    <br />

    <!-- Pub list begins -->
    {% for pub in site.author_pubs_details %}
    <div class = "pubbody">
        <table width="100%">
            <tr>
                <td width = "14%" valign="center" align="center"><span class=venue_short>{{pub.venue_short}}<br />{{pub.year}}
                </span>
                </td>
                <td width= "4%"></td>
                
                <td width = "78%">
                <span class="papername">{{pub.title}}</span>
                <br />
                <span class="authorlist">
                {% for author_name in pub.author_list %}
                  {% if forloop.last == false %}
                    {% if author_name.name == "Enze Liu" %}
                    <strong><u>{{ author_name.name }}</u></strong>, 
                    {% endif %}
                    {% if author_name.name != "Enze Liu" %}
                    {{ author_name.name }}, 
                    {% endif %}
                  {% endif %}
                  {% if forloop.last != false %}
                    {% if author_name.name == "Enze Liu" %}
                    <strong><u>{{ author_name.name }}</u></strong>
                    {% endif %}
                    {% if author_name.name != "Enze Liu" %}
                    {{ author_name.name }}
                    {% endif %}
                  {% endif %}
                {% endfor %}
                </span>
                <br />
                <span class="venuename">Proceedings of <i>{{pub.venue}}</i></span>
                <br />
                
                {% if pub.links %}
                {% for link in pub.links %}
                {% if link.url %}
                <span class="paperlink_span">[<a href="{{link.url}}" class="paperlink">{{link.type}}</a>]</span>
                {% endif %}
                {% endfor %}
                {% else %}
                <span class="paperlink_forthcoming">[Paper (forthcoming)]</span>


                {% endif %}


                {% if pub.award %}
                <span class="award"><i class="fa fa-trophy" style="font-size:1.1rem;color:#149414"></i> {{pub.award}}</span>
                {% endif %}

                {% if pub.news %}
                <br class="br_news" />
                <span class="news">
                  <span class="media_button"> <i class="fa fa-rss"></i> Media Coverage: </span>
                  <span class="media_content">
                    {%- include {{pub.news}} -%}
                  </span>
                </span>
                {% endif %}

                </td>
                
                <td width= "4%">
                </td>
            </tr>
        </table>
    </div>
    {% endfor %}
    
    

</div>