--- 
layout: default 
---

<div class="card">
    <h1 class="card-title">What do people think of my research?</a></h1>
    <p style="color:white;">(This page is inspired by my friend <a href="https://www.sysnet.ucsd.edu/~scauligi/" style="color:white">Sunjay</a>)</p>
    <br />
    
    <div class = "reviews" style="font-family: sans-serif;">
        <p style="font-size: 120%">This work may be a <b>better fit at a hacker venue, rather than an academic research venue.</b></p>
        <br />
        
        <p style="font-size: 120%">The framing behind the research <b>is not convincing.</b></p>
        <br />
        
        <p style="font-size: 120%"><b>Writing is often confusing</b>. The paper message is not consistent across the paper.</p>
        <br />
    </div>

</div>