---
layout: default
---
<style type="text/css">
tbody tr {
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.25rem;
}
tbody tr > * {
    display: inline-block;
}
</style>

<div class="card">
    <h1> Useful Links </h1>
    <br />

	<h3> Why PhD in Computer Science and How to Apply</h3>

	<li>
		<a href="https://cs.stanford.edu/degrees/phd/PhD/GraduateSchoolAdvice.pdf">
			Stanford CS Graduate School Advice
		</a>
	</li>

	<li>
		<a href="https://pages.cs.wisc.edu/~gleicher/pages/advice/gradschoolfaq/">
			The Graduate School FAQ
		</a>
	</li>

	<li>
		<a href="https://pages.gseis.ucla.edu/faculty/agre/grad-school.html">
			Advice for Undergraduates Considering Graduate School
		</a>
	</li>

	<li>
		<a href="https://web.cs.dartmouth.edu/undergraduate/graduate-school-advice">
			If you're considering graduate school in Computer Science
		</a>
	</li>

	<li>
		<a href="https://www.cs.cmu.edu/~harchol/gradschooltalk.pdf">
			Applying to Ph.D. Programs in Computer Science
		</a>
	</li>	

	<li>
		<a href="http://karpathy.github.io/2016/09/07/phd/">
			A Survival Guide to a PhD
		</a>
	</li>

	<li>
		<a href="https://www.cmu.edu/gcc/handouts-and-resources/handouts/grad-app-sop.pdf">
			Writing Your Graduate School Application Essay
		</a>
	</li>

	<li>
		<a href="https://ctl.yale.edu/sites/default/files/basic-page-supplementary-materials-files/writing_personal_statements_for_graduate_school.pdf">
			Writing Personal Statements for Graduate School
		</a>
	</li>

	<li>
		<a href="https://www.cs.cmu.edu/~pavlo/blog/2015/10/how-to-write-a-bad-statement-for-a-computer-science-phd-admissions-application.html">
			How to Write a Bad Statement for a Computer Science Ph.D. Admissions Application
		</a>
	</li>

	<br />

	<h3> Advice For PhD Students </h3>
	
	<li>
		<a href="http://karpathy.github.io/2016/09/07/phd/">
			A Survival Guide to a PhD
		</a>
	</li>
	<!--
	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>

	<li>
		<a href="">
			
		</a>
	</li>
	-->
    
</div>