---
layout: default
---
<style type="text/css">
tbody tr {
    margin-left: 20px;
    font-family: "Times New Roman", Times, serif;
    font-size: 1.25rem;
}
tbody tr > * {
    display: inline-block;
}
</style>

<div class="card">
    <h1> Useful Links </h1>
    <br />

	<h3> Why PhD in Computer Science and How to Apply</h3>

	<li>
		<a href="https://cs.stanford.edu/degrees/phd/PhD/GraduateSchoolAdvice.pdf">
			Stanford CS Graduate School Advice
		</a>
	</li>

	<li>
		<a href="https://pages.cs.wisc.edu/~gleicher/pages/advice/gradschoolfaq/">
			The Graduate School FAQ
		</a>
	</li>

	<li>
		<a href="https://pages.gseis.ucla.edu/faculty/agre/grad-school.html">
			Advice for Undergraduates Considering Graduate School
		</a>
	</li>

	<li>
		<a href="https://web.cs.dartmouth.edu/undergraduate/graduate-school-advice">
			If you're considering graduate school in Computer Science
		</a>
	</li>

	<li>
		<a href="https://www.cs.cmu.edu/~harchol/gradschooltalk.pdf">
			Applying to Ph.D. Programs in Computer Science
		</a>
	</li>	

	<li>
		<a href="http://karpathy.github.io/2016/09/07/phd/">
			A Survival Guide to a PhD
		</a>
	</li>

	<li>
		<a href="https://www.cmu.edu/gcc/handouts-and-resources/handouts/grad-app-sop.pdf">
			Writing Your Graduate School Application Essay
		</a>
	</li>

	<li>
		<a href="https://ctl.yale.edu/sites/default/files/basic-page-supplementary-materials-files/writing_personal_statements_for_graduate_school.pdf">
			Writing Personal Statements for Graduate School
		</a>
	</li>

	<li>
		<a href="https://grad.berkeley.edu/admissions/apply/statement-purpose/">
			Writing the Statement of Purpose
		</a>
	</li>

	<li>
		<a href="https://www.cs.cmu.edu/~pavlo/blog/2015/10/how-to-write-a-bad-statement-for-a-computer-science-phd-admissions-application.html">
			How to Write a Bad Statement for a Computer Science Ph.D. Admissions Application
		</a>
	</li>

	<li>
		<a href="https://www.nyu.edu/academics/awards-and-highlights/global-awards/support-and-resources/recommendation-letter-guidelines.html">
			Recommendation Letter Guidelines
		</a>
	</li>


	<li>
		<a href="https://people.eecs.berkeley.edu/~justine/advice.pdf">
			A long, rambling, mostly personal corpus of advice on applying to
Computer Science grad school
		</a>
	</li>


	<li>
		<a href="http://www.cs.virginia.edu/~evans/advice/prospective.html">
			Advice for Prospective Research Students

		</a>
	</li>

	
	<br />


	








	<h3> Advice For PhD Students </h3>
	<span style="margin:5px;">Note: Copyright belongs to the authors. Screenshots taken WITHOUT permission. If you would like to have your article removed, please contact me via email.</span>
	{% for item in site.phdadvise %}
		<li>
			{% if item.link %}
				{{- item.author -}}: 
				<a href="{{ item.link }}">
				{{- item.title -}}
				</a>
			{% else %}
				{{- item.author -}}:&nbsp;
				{{- item.title -}}
			{% endif %}

			{% if item.pdf %}
			&nbsp;
			&nbsp;
			<a href="https://raw.githubusercontent.com/alexliu0809/alexliu0809.github.io/master/assets/files/{{ item.pdf }}">
			[Screenshot]
			</a>
			{% endif %}
		</li>
	{% endfor %}	

	<br />

	<h3> Similar Collections </h3>
	{% for item in site.phdadvisecollections %}
		<li>
			{% if item.link %}
				<a href="{{ item.link }}">
					{{- item.author -}}
				</a>
			{% endif %}
		</li>
	{% endfor %}	
	<!-- <li>
		<a href="http://karpathy.github.io/2016/09/07/phd/">
			A Survival Guide to a PhD
		</a>
	</li>
	
	<li>
		<a href="https://www.cs.jhu.edu/~mdredze/publications/HowtoBeaSuccessfulPhDStudent.pdf">
			How to Be a Successful PhD Student 
		</a>
	</li>

	<li>
		<a href="https://www.youtube.com/watch?v=fqPSnjewkuA">
			Graduate School: Keys To Success
		</a>
	</li>

	<li>
		<a href="http://matt.might.net/articles/ways-to-fail-a-phd/">
			10 easy ways to fail a Ph.D.
		</a>
	</li>

	<li>
		<a href="https://homes.cs.washington.edu/~mernst/advice/conference-attendance.html">
			Attending an academic conference
		</a>
	</li>

	<li>
		<a href="https://pg.ucsd.edu/PhD-internships.htm">
			Ph.D. Student Internships
		</a>
	</li>

	<li>
		<a href="http://www.cs.umd.edu/~oleary/gradstudy/gradstudy.html">
			Graduate School in Computer Science: A Survival Manual
		</a>
	</li>

	<li>
		<a href="https://www.eecs.harvard.edu/htk/phdadvice/">
			Useful Thoughts about Research
		</a>
	</li>

	<li>
		<a href="http://blizzard.cs.uwaterloo.ca/keshav/home/Papers/data/07/paper-reading.pdf">
			How to Read a Paper
		</a>
	</li>

	<li>
		<a href="https://www.cs.cmu.edu/~mblum/research/pdf/grad.html#:~:text=Do%20NOT%20feel%20obliged%20to,Read%20what%20you%20can.">
			Advice to a Beginning Graduate Student
		</a>
	</li>

	<li>
		<a href="http://www.cs.virginia.edu/~robins/YouAndYourResearch.html">
			You and Your Research
		</a>
	</li>

	<li>
		<a href="https://www.cc.gatech.edu/faculty/ashwin/wisdom/how-to-choose-an-advisor.html">
			How to choose an advisor
		</a>
	</li>

	<li>
		<a href="https://people.eecs.berkeley.edu/~pattrsn/talks/research.pdf">
			How to Have a Bad Career in Research/Academia
		</a>
	</li>

	<li>
		<a href="https://www.cc.gatech.edu/faculty/ashwin/wisdom/the-research-cycle.html">
			The research cycle
		</a>
	</li>

	<li>
		<a href="http://matt.might.net/articles/productivity-tips-hints-hacks-tricks-for-grad-students-academics/">
			Productivity tips, tricks and hacks for academics
		</a>
	</li>
	
	<li>
		<a href="https://www.cs.columbia.edu/~hgs/etc/writing-style.html">
			Writing Technical Articles
		</a>
	</li>

	<li>
		<a href="https://www.cs.unc.edu/~azuma/hitch4.html">
			So long, and thanks for the Ph.D.
		</a>
	</li>

	<li>
		<a href="https://twitter.com/thoughtsofaphd/status/1303088620916617219">
			PhD Diaries
		</a>
	</li>

	<li>
		<a href="https://www.cs.utexas.edu/users/dahlin/bookshelf/hamming.html">
			You and your research
		</a>
	</li>


	<li>
		<a href="https://stearnslab.yale.edu/modest-advice">
			Modest Advice
		</a>
	</li>

	<li>
		<a href="https://greatresearch.org/2013/08/14/managing-your-advisor/">
			Managing Your Advisor
		</a>
	</li>

	<li>
		<a href="https://lijunsun.github.io/files/pguo-PhD-grind.pdf">
			THE PH.D. GRIND
		</a>
	</li>

	<li>
		<a href="https://pg.ucsd.edu/early-stage-PhD-advice.htm">
			Advice for early-stage Ph.D. students
		</a>
	</li>

	<li>
		<a href="https://pg.ucsd.edu/early-stage-PhD-advice.htm">
			Advice for early-stage Ph.D. students
		</a>
	</li>

	<li>
		<a href="http://taoxie.cs.illinois.edu/advice/gradstudentsurvival.pdf">
			Graduate Student Survival/Success Guide
		</a>
	</li> -->

<a href="https://janniearij.com/" style="opacity: 0;">Jannie Arij</a>
<a href="https://martynairmaphotos.com/" style="opacity: 0;">Martyna Irma</a>
<a href="https://merlincasandra.com/" style="opacity: 0;">Musician Merlin Casandra</a>
<a href="https://mylahandgautbert.com/" style="opacity: 0;">Mylah and Gautbert LLC.</a>
<a href="https://ninawilliamshipping.com/" style="opacity: 0;">Nina & William Shipping Inc.</a>
<a href="https://vasearlaitwines.com/" style="opacity: 0;">Va Searlait Wines</a>
<a href="https://jerryyaxkin.com/" style="opacity: 0;">Jerry Yaxkin</a>
<a href="https://bhavanacokkie.com/" style="opacity: 0;">Bhavana Cokkie</a>
<a href="https://greenmagnoliagaming.com/" style="opacity: 0;">Green Magnolia Gaming Keyboards</a>
<a href="https://zarifaszest.com/" style="opacity: 0;">Zarifa's Zest</a>
<a href="https://jozefcaelinajerseys.com/" style="opacity: 0;">Jozef Caelina Jerseys Inc.</a>
<a href="https://ragelightning.com/" style="opacity: 0;">RageLightning Energy Drinks</a>
<a href="https://mdsfgmarket.com/" style="opacity: 0;">The MDSFG Farmer's Market</a>
<a href="https://mdsfgmarket.com/" style="opacity: 0;">The MDSFG Farmer's Market</a>
<a href="https://orangemobicompway.com/" style="opacity: 0;">Orange Mobicompway Electronic Accessories</a>
<a href="https://drtitusdciriaci.com/" style="opacity: 0;">Dr. Titus D. Ciriaci</a>
<a href="https://sarahcgalenos.com/" style="opacity: 0;">Dr. Sarah C. Galenos</a>
<a href="https://sybilivaylaphd.com/" style="opacity: 0;">Dr. Sybil S. Ivayla</a>
<a href="https://odellpupasana.com/" style="opacity: 0;">Dr. Odell Prince Upasana</a>
<a href="https://gwhoratia.com/" style="opacity: 0;">G. W. Horatia Inc.</a>

</div>